
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');



#portfolio {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}



*,
*::before,
*::after{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    border:0;
    font-family:'Poppins',sans-serif;

}

a,
a:link,
a:visited{
    text-decoration:none;
    outline:none;
    border:none;
}


ul,
li{
    list-style:none;
    margin:0;
    padding:0;

}

section,
span,
p{
    margin:0;
    padding:0;
    outline:none;
    border:none;

}


.container{
    max-width:1170px;
    margin:0 auto;
    padding:0 15px;
}

.header{
    background-image:url(coffee.jpg);
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
    height:100vh;
}

.header-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.header-logo{
    font-size:16px;
    color:white;
    letter-spacing:2px;
    border-bottom:5px solid white;
    border-radius:35px;
    padding-bottom:5px;
    
}


ul{
    display: flex;
}

li{
    margin-left: 27px;

}
li:first-child{
    margin-right: 70px;
}
a{
    color:white;
    font-weight:bold;
    font-size: 15px;
}


.header-text{
    position:absolute;

    top:50%;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
h1 {
    font-size: 8.5rem;
    font-weight: 100;
    line-height: 0.4;
    letter-spacing: 2px;
    font-family: 'Herr Von MuellerHoff',cursive;
    color: #745b37;
}
.first-leter {
    font-size: 10.3rem;
    font-family: 'Herr Von MuellerHoff',cursive;
    color:#745b37;
}
h3{
    margin-bottom:25px;
    font-size:22px;

}
.btn-coffee {
    display: block;
    background-color: #745b37;
    color:#fff;
    padding: 10px 15px;
    border-top-left-radius:35px;
    border-bottom-right-radius:35px;
    position:relative;
    overflow:hidden;
}

.btn-coffee::after{
    content:"BUY";
    position:absolute;
    top:100%;
    left:0;
    background-color:#5b2a02;
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    transition: .5s; 
}

.btn-coffee:hover::after{
    top:0;
}

/*ABOUT START*/

.about{
    margin-bottom:150px;
}
.about-tittle{
    margin:60px 0;
}
.about-tittle h2{
    width:100%;
    text-align:center;
    margin:0 auto;
    color:#5b2a02;
    font-size:30px;
    font-weight:600;
}
.about-tiitle h2::after {
    content: "";
    width: 30px;
    height: 3px;
    background-color:#5b2a02;
    margin:0 auto;
    display:block;
    margin-top:10px;
}
.about-content{
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.about-img {
    width:100%;
}
.about-img img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.about-text{
    width:40%;
}
h4 {
    margin-bottom: 25px;
    text-align: center;
    font-size: 60px;
    color: #5b2a02;
    font-family: 'Herr Von MuellerHoff',cursive;
    letter-spacing:0.5rem;
    font-weight:100;
}
.about-text p{
    font-size:15px;
    text-align:center;
    color:#2c2727;
}



/*ABOUT FINISH*/

/*PORTFOLIO START*/

.portfolio{
    display:flex;
    margin-top:60px;
    flex-wrap:wrap;
}

.portfolio-item {
    width: 25%;
    height: 300px;
    overflow: hidden;
    position:relative;
}
.portfolio-item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition:.5s;
}

.overlay{
    width:100%;
    height:100%;
    background-color:#5b2a02;
    position:absolute;
    top:100%;
    left:0;
    opacity:0.8;
    color:#fff;
    font-size:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:.5s;
}
.portfolio-item:hover .overlay{
    top:0;
}
.portfolio-item:hover img{
    transform:scale();
}

/*PORTFOLIO FINISH*/

/*CONTACT START*/
.contact{
    padding:10px 0;
}

.contact h2{
    width:100%;
    text-align:center;
    margin:0 auto;
    margin-top:10%;
    color:#5b2a02;
    font-size:30px;
    font-weight:600;
}
.contact h2::after{
   content:"";
   width:30px;
   height:3px;
   background-color:#5b2a02;
   margin:0 auto;
   display:block;
   margin-top:10px;
}
.contact-content{
    margin-top:60px;
    display:flex;
    justify-content:space-evenly;
}
.contact-item{
    display:flex;
    align-items:center;
    flex-basis:33%;
    margin-bottom:100px;
    flex-direction:column;
}
.contact-item i{
    font-size:25px;
    margin-bottom:30px;
    color:#5b2a02
}
.content-item p{
    font-size:14px;
    line-height:33px;

}
.footer h2 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
    color: #5b2a02;
    font-size: 30px;
    font-weight: 600;
    padding:60px 0;
}
.footer h2::after {
        content: "";
        width: 30px;
        height: 3px;
        background-color: #5b2a02;
        margin: 0 auto;
        display: block;
        margin-top: 10px;
}

.footer{
    background-color:#000000
}
.footer-copyright{
    color:#fff;
    text-align:center;
    flex-basis:55%;
    line-height:2;
    font-size:25px;
    margin-bottom:40px;
}
.footer-content{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;

}
.footer.social i{
    color:#fff;
    margin-bottom:50px;
    font-size:25px;
    padding:0 45px;
}
.footer-social:first-child{
    margin-left:55px
}

/*CONTACT FINISH*/


#menu-icon{
    font-size:25px;
}

@media only screen and (max-width:800px){
    .header-menu ul{
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        position:absolute;
        top:100px;
        left:0;
        background-color:#5b2a02;
        width:100%;
        overflow:hidden;
        transition:max-height .5s;
    }
    .header-menu ul li{
        margin-right:50px;
        margin-top:5px;
        margin-bottom:5px;
    }
    .header-menu ul li a{
        color:#fff;
    }
    .header-menu #menu-icon{
        display:block;
        cursor:pointer;
    }
}